@import "../../scss/normalize";

body {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size:  16px;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}