.mobile {

  &__name {
    font-size: 40px;
  }

  &__clients {
    background-color: #fff;
    box-shadow: 0 8px 19.2px 0 rgba(0,0,0,.13);
    margin-bottom:  30px;
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #e5e5e5;

    thead {
      background-color: #d2e6f3;
    }

    tr + tr {
      border-top: 1px solid #e5e5e5;
    }

    th,
    td {
      padding: 15px;
      text-align: center;

      &.unavail {
        background-color: rgba(255, 0, 0, .4);
      }

      &.avail {
        background-color: rgba(0, 255, 0, .4);
      }

      a {
        text-decoration: none;
        color: #005190;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.btn {
  padding: 10px 15px;
  display: inline-block;
  background-color: #005fa9;
  border: 0;
  color: #fff;
  font-size:  16px;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  cursor: pointer;
  min-width: 100px;
  transition: all .5s ease;
}

.btn.disabled {
  background-color: #e5e5e5;
  cursor: not-allowed;
  pointer-events: none;
}

.delete-btn:hover {
  background-color: #005190;
}

.edit-btn {
  background-color: #ebac40;
}

.edit-btn:hover {
  background-color: #eb9b22;
}