body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size:  16px;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 15px;
}

.product.editing .product__table {
    pointer-events: none;
}

.shopName {
    text-align: center;
}

.product__table {
    width: 100%;
    font-size: 16px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #e5e5e5;
}

.product__item + .product__item {
    border-top: 1px solid #e5e5e5;
}

.product__item.highlight {
    background-color: #f4faff;
}

.product__table {
    background-color: #fff;
    box-shadow: 0 8px 19.2px 0 rgba(0,0,0,.13);
    margin-bottom:  30px;
}

.product__table thead {
    background-color: #d2e6f3;
}

.product__table th,
.product__table td {
    padding: 15px;
    text-align: center;
}

.product__pic  img {
    max-height: 100px;
    display: block;
    max-width: 200px;
    height: auto;
    margin: 0 auto;
}

.product__name {
    font-size:  115%;
}

.btn {
    padding: 10px 15px;
    display: inline-block;
    background-color: #005fa9;
    border: 0;
    color: #fff;
    font-size:  16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    cursor: pointer;
    min-width: 100px;
    transition: all .5s ease;
}

.btn.disabled {
    background-color: #e5e5e5;
    cursor: not-allowed;
    pointer-events: none;
}

.delete-btn:hover {
    background-color: #005190;
}

.edit-btn {
    background-color: #ebac40;
}

.edit-btn:hover {
    background-color: #eb9b22;
}