.product {}

.product__table {
    font-size: 16px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #e5e5e5;
}

.product__item {
    /*border-bottom: 1px solid #e5e5e5;*/
}

.product__item + .product__item {
    border-top: 1px solid #e5e5e5;
}

.product__item td {
    padding: 15px 10px;
    /*border: 1px solid #ddd;*/
}

.product__item td img {
    max-height: 100px;
    display: block;
    max-width: 200px;
    height: auto;
    margin: 0 auto;
}
